body {
  height: 100%;
  margin: 0%;
  text-align: center;
  width: 100%;
  font-family: Georgia, serif;
}
h1 {
  font-size: 28px;
  font-family: Palatino, serif;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-family: Palatino, serif;
  text-align: center;
}
